
[submodule "child/io-test"]
	path = child/io-test
	url = git@github.com:dingdong-io/io-test.git
[submodule "child/new"]
	path = child/new
	url = git@github.com:dingdong-io/io-build.git
[submodule "io-build"]
	path = io-build
	url = ./io-build
